*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*partie 1 */
.black{
	background-color: black;
	padding: 20px;
}
.icon{
	padding: 20px;
	width: 100%;
	height: 20px;
	position: relative;
	right: 230px;
	display: flex;
    justify-content: flex-end;
	align-items: center;
	
}
.p20{
	background-color: black;
	color: #b5a082;
	border-radius: 100%;
}
.img{
	height: 600px;
	width: 100%;
	background-image: url("1681476502201.jpg");
	background-size: 100% 600px;

}
.class{
	width: 315px;
	height: 20px;
	position: relative;
	right: -700px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: black;
}

.class b{
  color: black;
  position: relative;

}

.class b::before{
  content: '';
  width: 0;
  position: absolute;
  bottom: -3px;
  height: 2px;
  background-color:  #523d35fc;
  transition: 0.5s;

}

.class b:hover::before{
 width: 100%;
}

.para{
    position: relative;
    top: 200px;
    right: 50px;
    font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: #523d35fc;
}

.proceed{

  font-weight: 300;
  padding: 1em 4.8em;
  display: inline-block;
  border-radius: 0.7em;
  transition: 0.3s;
  background-color: black;
  color:#523d35fc;
  position: relative;
  right: 530px;
}
.proceed:hover{
	border: 2px solid ;
}
/*partie 1 */
/*partie 2 */
.box{
	width: 100%;
	height: 230px;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}
.box1{background-color: white;text-align: center; color: #523d35fc; width: 180px; align-items: center;}
.box2{background-color: white;text-align: center; color: #523d35fc; width: 180px; align-items: center;}
.box3{background-color: white;text-align: center; color: #523d35fc; width: 180px; align-items: center;}
.box4{background-color: white;text-align: center; color: #523d35fc; width: 180px; align-items: center;}
.box5{background-color: white;text-align: center; color: #523d35fc; width: 180px; align-items: center;}
.box6{background-color: white;text-align: center; color: #523d35fc; width: 180px; align-items: center;}
.box img{
	width: 120px;
	height: 120px;
	position: center;
}
.box1:hover{ color:#523d35fc; border:1px solid; }
.box2:hover{ color:#523d35fc; border:1px solid; }
.box3:hover{ color:#523d35fc; border:1px solid; }
.box4:hover{ color:#523d35fc; border:1px solid; }
.box5:hover{ color:#523d35fc; border:1px solid; }
.box6:hover{ color:#523d35fc; border:1px solid; }


/*partie 2 */

/*partie 3 */
.category{
	text-align: center;
	margin: 20px;

}
/*partie 3 */


/*partie 4 */
.promotion{
	width: 100%;
	height: 260px;
	display: flex;
	justify-content: space-evenly;

}

.ROOM1{
	height: 220px;
	width: 400px;
	background-image: url(conception.jpg);
	background-size: 100% 220px;
	position: relative;
	top: 20px;	
	text-align: center;

}
.living{
	background-color: #ffeb3b5c;
	width: 360px;
	height: 180px;
	color: yellow;
	position: relative;
	right: -20px;
	top: 20px;
}

.ROOM2{
	height: 220px;
	width: 400px;
	background-image: url(dining-room.jpg);
	background-size: 100% 220px;
	position: relative;
	top: 20px;
	text-align: center;
	justify-content: center;

}
.dining{
  background-color: #79554845;
	width: 360px;
	height: 180px;
	color: #c79381;
	position: relative;
	right: -20px;
	top: 20px;
}

.promotion p{
	font-weight: 100;
  padding: 0.6em 1.8em;
  display: inline-block;
  border-radius: 0.7em;
  transition: 0.3s;
  background-color: #00000080;
  color:white;
  position: relative;
}

.promotion p:hover{
	border: 2px solid;
}

/*partie 4 */



/*partie 5 */

.message{
	height: 600px;
	width: 100%;
	background-image: url(1681476495661.jpg);
	background-size: 100% 600px;
	display: flex;
}

.text{
	position: relative;
	font-size: 1.5rem;
	top: 250px;
	text-align: center;
	width: 50%;
	height: 300px;
}
.send{
	width: 40%;
	height: 500px;
	position: relative;
	top: 50px;
	text-align: center;
	background-color: #79554854;
}
.message p{
	font-weight: 300;
  padding: 1em 4.8em;
  display: inline-block;
  border-radius: 0.7em;
  transition: 0.3s;
  background-color: black;
  color:white;
  position: relative;
 
}
message input{
	border-radius: none;
	border: none;
	background-color: black;
	border-bottom: 10px 10px;
}
.message p:hover{
	border: 2px solid ;
}
/*partie 5 */



/*footer*/
.footer{
	background-color: #9e9e9e33;
}
.container1{
	padding: 30px;
	text-align: center;
	width: 100%;
	height: 100px;
}
.container1 input{
	background-color: none;
	border: none;
	color: black;
	text-align: center;

}
.container2{
	
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.left{
	text-align: center;
	justify-content: center;

}
.photos img{
	width: 30px;
	height: 30px;
} 
.right{
	width: 70%;
   display: flex;
   justify-content: space-evenly;
}

.right .colunm{
  display: flex;
  flex-direction: column;
}

.right .colunm .link{
  color: #4F5665;
  margin-top: 1em;
}

/*footer*/